<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="consultaAutorizacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <consultaAutorizacion.Properties.Settings>
            <setting name="consultaAutorizacion_autoWeb_AutorizacionComprobantesOfflineService"
                serializeAs="String">
                <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline</value>
            </setting>
        </consultaAutorizacion.Properties.Settings>
    </applicationSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <soapExtensionTypes>
        <add type="consultaAutorizacion.TraceExtension,consultaAutorizacion" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>