<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Interfaz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

	<appSettings>
		<add key="PROVEEDOR_ADONET" value="System.Data.SqlClient"/>
		<add key="CADENA_CONEXION" value="Data Source=10.1.8.134;Initial Catalog=UNACEM;User ID=InvoFeec;Password=Amaz0n2018!"/>

		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="SERVER" value="SG01FA99808396\MSSQLSERVER2016"/>
		<add key="USER" value="sa"/>
		<add key="PASSWORD" value="123456"/> 
		<add key="DATABASE" value="UNACEM"/>

		<!--Variables LAFARGE-->
    
		<add key="EF" value="01"/>
    <add key="NV" value="02"/>
    <add key="LC" value="03"/>
    
		<add key="EC" value="04"/>
		<add key="EB" value="05"/>
		<add key="E1" value="07"/>
		<add key="E8" value="05A"/>
		<add key="EG" value="06"/>
		<add key="K9" value="03"/>
    <add key="KD" value="19"/>
    <add key="DV" value="19"/>
    
    <add key="19" value="KD"/>
		<add key="01" value="EF"/>
		<add key="04" value="EC"/>
		<add key="05" value="EB"/>
		<add key="07" value="E1"/>
		<add key="05A" value="E8"/>
		<add key="06" value="EG"/>
    <add key="03" value="K9"/>
    <add key="19" value="KD"/>

		<add key="V" value="2"/>
		<!--12% iva-->
		<add key="E" value="0"/>
		<!--14% iva-->
		<add key="I" value="3"/>
		<!--0% iva-->
		<add key="1" value="2"/>
		<!--IVA-->
		<add key="0" value="3"/>
		<!--ICE-->
		<add key="AUTHORIZED" value="AT"/>
		<add key="CONTINGENCY" value="CN"/>
		<add key="ERROR" value="ER"/>
		<add key="PENDING" value="PD"/>
		<add key="RECEIVED" value="RC"/>
		<add key="REJECTED" value="RJ"/>
		<add key="RESEND" value="RS"/>

		<!--Tipo identificacion-->
		<add key="1C" value="05"/>
		<add key="1P" value="06"/>
		<add key="2" value="04"/>
		<add key="5" value="04"/>
		<add key="6" value="04"/>
		<add key="C" value="04"/>
		<add key="PC" value="05"/>
		<add key="PP" value="06"/>
		<add key="T" value="04"/>

		<add key="estabprod" value="014"/>
		<add key="ptoemiprod" value="024"/>
		<add key="estabprue" value="012"/>
		<add key="ptoemiprue" value="999"/>

		<add key="SRIRECEPRUEB" value="04"/>
		<add key="RutaGuia" value="C:\\PDFGUIAS\\"/>
		<add key="Impresora" value="\\198.168.34.2\SEC30CDA718201B"/>
		<add key="Impresora2" value="\\10.52.10.2\HPCLJCP4"/>
		<add key="webserviceLF" value="http://10.178.191.11:8888/ws/laf.webServices.invoicec.infoAutSRIString:infoAutSRIString"/>
		<!--<add key="webserviceUNACEMSAP" value="http://sapserver.unacem.com.pe:8001/sap/bc/srt/rfc/sap/zecsrifm01/400/zecsrifm01/zecsrifm01" />
		<add key="webserviceUSER" value="interface_ws" />
		<add key="webservicePASS" value="P@ssword03" />-->
		<add key="webserviceapp" value="https://aplicaciones.unacem.com.ec/WebServiceUNACEM.asmx?wsdl"/>
    
    <add key="Impresora" value="ECGR253P"/>

    <add key="webserviceUNACEMSAPTEST" value="http://200.41.96.107:5001/sap/bc/srt/rfc/sap/zecsrifm01"/>
    <add key="webserviceUSERTEST" value="INTERFACE_WS"/>
    <add key="webservicePASSTEST" value="P@ssword03"/>

    <add key="RutaGuia" value="C:\factura\"/>

		<add key="MAIL_COMERCIAL" value="cguevara@cimait.com.ec"/>
		<!--nc, f, gr-->
		<add key="MAIL_FINANCIERO" value="cguevara@cimait.com.ec"/>
		<!--cr ndfIN-->

    <add key="tipoDocumentoEnvioCorreo" value="01|"/>
    <add key="IntervaloFechaMayor" value="2020-12-23"/>
    <add key="IntervaloFechaMenor" value="2021-01-10"/>
    <add key="ActivarValidacionesCorreo" value="SI"/>
    
    <add key="LogInfoDB" value="S" />
    <add key="LogError" value="S" />
    <add key="LogInfo" value="S" />
    <add key="Auditar" value="S" />
    <add key="ArchivoLog" value="C:\\Sipecom\\Unacem\\Servicio\\Logs\\Unacem_Servicios_LOG_|TP_|yyyy-|MM-|dd-_|HH.txt" />
    <add key="LogInfoAdicional" value="S" />
    
	</appSettings>
	<connectionStrings>
		<add name="dataexpressConnectionString" connectionString="Data Source=10.1.8.134;Initial Catalog=UNACEM;User ID=InvoFeec;Password=Amaz0n2018!" providerName="System.Data.SqlClient"/>
		<add name="Interfaz.Properties.Settings.llenadoDatos" connectionString="Data Source=10.1.8.134;Initial Catalog=UNACEM;User ID=InvoFeec;Password=Amaz0n2018!" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<webServices>
			<soapExtensionTypes>
				<add type="Control.TraceExtension, Control" priority="1" group="0"/>
			</soapExtensionTypes>
			<protocols>
				<remove name="HttpSoap12"/>
			</protocols>
		</webServices>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AutorizacionComprobantesServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="AutorizacionComprobantesServiceSoapBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="RecepcionComprobantesServiceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="RecepcionComprobantesServiceSoapBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://celcer.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantes" binding="basicHttpBinding" bindingConfiguration="AutorizacionComprobantesServiceSoapBinding" contract="autoSRIPruebas.AutorizacionComprobantes" name="AutorizacionComprobantesPort"/>
			<endpoint address="https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantes" binding="basicHttpBinding" bindingConfiguration="RecepcionComprobantesServiceSoapBinding" contract="receSRIPruebas.RecepcionComprobantes" name="RecepcionComprobantesPort"/>
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Interfaz.Properties.Settings>
			<setting name="Interfaz_csService_csService" serializeAs="String">
				<value>http://192.168.32.90:86/webService/csService.asmx</value>
			</setting>
		</Interfaz.Properties.Settings>
	</applicationSettings>
</configuration>
