<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient" />
    <add key="RutasTXT" value="c:/txt" />
    <add key="CADENA_CONEXION" value="Data Source=10.1.8.134; Persist Security info=false; User id=InvoFeec; password=Amaz0n2018!; Initial Catalog=canas" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Autorizacion" value="https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantesOffline"/>
    <add key="LogErrorTXT" value="SI"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <soapExtensionTypes>
        <add type="consultaAutorizacion.TraceExtension,consultaAutorizacion" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>