<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>  
    <connectionStrings>
        <add name="Control.Properties.Settings.dataexpressConnectionString" connectionString="Data Source=(local);Initial Catalog=dataEcuadorTorremar;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
        <add name="Control.Properties.Settings.dataEcuadorTorremarConnectionString" connectionString="Data Source=(local);Initial Catalog=dataEcuadorTorremar;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
        <add name="Control.Properties.Settings.dataexpressConnectionString1" connectionString="Data Source=CIMA02\SQLEXPRESS;Initial Catalog=dataEcuador;Persist Security Info=True;User ID=sa;Password=data_cima" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <soapExtensionTypes>
        <add type="Control.TraceExtension,Control" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <Control.Properties.Settings>
            <setting name="Control_receWeb_RecepcionComprobantesService" serializeAs="String">
                <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantes</value>
            </setting>
            <setting name="Control_LFWSrpt_laf_webServices_invoicec_infoAutSRIString_infoAutSRIString" serializeAs="String">
                <value>http://latwisqa02.am.qua.lafargeone.net:8880/ws/laf.webServices.invoicec.infoAutSRIString.infoAutSRIString/laf_webServices_invoicec_infoAutSRIString_infoAutSRIString_Port</value>
            </setting>
            <setting name="Control_WebReference_ZECSRIFM01" serializeAs="String">
                <value>http://sapdev.unacem.com.pe:8001/sap/bc/srt/rfc/sap/zecsrifm01/400/zecsrifm01/zecsrifm01</value>
            </setting>
            <setting name="Control_TestUnacemSap_ZECSRIFM01" serializeAs="String">
                <value>http://sapdev.unacem.com.pe:5001/sap/bc/srt/rfc/sap/zecsrifm01</value>
            </setting>
            <setting name="Control_autoweb_AutorizacionComprobantesService" serializeAs="String">
                <value>https://cel.sri.gob.ec/comprobantes-electronicos-ws/AutorizacionComprobantes</value>
            </setting>
            <setting name="Control_mina_WebServiceUNACEM" serializeAs="String">
                <value>http://aplicaciones.unacem.com.ec:8090/WebServiceUNACEM.asmx</value>
            </setting>
            <setting name="Control_WebReference_SvcUNACEMECSRI" serializeAs="String">
                <value>http://ordev.unacem.com.pe/wsUNACEMECSRI/svcUNACEMECSRI.svc</value>
            </setting>
        </Control.Properties.Settings>
    </applicationSettings>
</configuration>
